.updateBarberContainer {
    flex-grow: 1;
    .header {
        text-align: center;
    }
}

.createForm {
    text-align: center;
    display: block;

    form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;

        input[type=text] {
            width: 100%;
        }

        .barberFieldDescription {
            color: gray;
            font-size: 14px;
        }
    }
}