.viewBarberContainer {
    flex-grow: 1;

    h1 {
        text-align: center;
    }
    table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;

        th {
            text-align: center;
        }

        td {
            padding: 5px;
        }
    }

}