.meetTheTeam {
  background-color: #000000;

  h1 {
    text-align: center;
    color: #fff100;
    font-size: 60px;
  }

  .teamCard {
    padding-bottom: 20px;

    .centerTitle {
      text-align: center;
    }

    .centerButton {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .instaSize {
    font-size: 50px;
    color: #833AB4;

  }

  .igCenter {
    text-align: center;
  }

  .IGcontainer {
    border: 2px solid #833ab4;
    background-color: rgb(245, 239, 239);
    padding-right: 5px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    height: 45px;

    a {
      text-decoration: none;
      color: black;
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .meetTheTeam {
    .teamTitleSize {
      text-decoration: underline;
    }
  }
}
