.meetTheTeam {
  background-color: #000000;

  h1 {
    text-align: center;
    color: #fff100;
    font-size: 40px;
  }

  .instaSize {
    font-size: 30px;
  }

  .teamCard {
    padding-bottom: 20px;

    .centerTitle {
      text-align: center;
    }

    .centerButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .meetTheTeam {
    .teamTitleSize {
      text-decoration: underline;
    }
  }
}
