.hoursSection {
 background-color: #212529;
 color: #fff100;
 // margin-left: 10px;

 .hoursTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-shadow: 4px 4px #000000;

  h1 {
   font-size: 100px;
  }
 }
 .hours {
  //   text-align: center;
  margin-right: 25%;
  margin-left: 25%;
 }
}
